Source: python-socksipychain-2.0.0
Section: python
Priority: optional
Maintainer: PageKite Packaging Team <packages@pagekite.net>
Build-Depends:  cdbs (>= 0.4.90),
                debhelper (>= 7.0.50~),
                python-support (>= 1.0.10),
                python (>= 2.7)
XS-Python-Version: >= 2.3
Standards-Version: 3.9.1
Homepage: http://pagekite.net/wiki/Floss/PySocksipyChain/

Package: python-socksipychain
Section: python
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python (>= 2.3)
Description: Python SOCKS/HTTP/SSL chaining proxy module
 This Python module allows you to create TCP connections through a chain
 of SOCKS or HTTP proxies without any special effort. It also supports
 TLS/SSL encryption if the OpenSSL modules are installed.

